Assets/

release_binaries/

splitNspSharp/bin/
splitNspSharp/obj/

splitNspSharpGui/bin/
splitNspSharpGui/obj/

splitNspSharpGui.Gtk/bin/
splitNspSharpGui.Gtk/obj/

splitNspSharpGui.Mac/bin/
splitNspSharpGui.Mac/obj/

splitNspSharpGui.Wpf/bin/
splitNspSharpGui.Wpf/obj/

splitNspSharpLib/bin
splitNspSharpLib/obj
