.idea/
.idea/*

splitNspSharp/bin
splitNspSharp/bin/*
splitNspSharp/obj
splitNspSharp/obj/*

splitNspSharpGui/bin
splitNspSharpGui/bin/*
splitNspSharpGui/obj
splitNspSharpGui/obj/*

splitNspSharpGui.Gtk/bin
splitNspSharpGui.Gtk/bin/*
splitNspSharpGui.Gtk/obj
splitNspSharpGui.Gtk/obj/*

splitNspSharpGui.Mac/bin
splitNspSharpGui.Mac/bin/*
splitNspSharpGui.Mac/obj
splitNspSharpGui.Mac/obj/*

splitNspSharpGui.Wpf/bin
splitNspSharpGui.Wpf/bin/*
splitNspSharpGui.Wpf/obj
splitNspSharpGui.Wpf/obj/*

splitNspSharpLib/bin
splitNspSharpLib/bin/*
splitNspSharpLib/obj
splitNspSharpLib/obj/*

release_binaries
release_binaries/*
